.banner {
    display: flex;
    justify-content: center;
    .banner__img {
        width: 80%;
    }
}

.banner-joyas {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/joyaspatron.jpg);

    h1 {
        text-shadow: 0px 0px 4px rgb(93, 92, 92);
    }
}
