.main-index {
    width: 100%;
    
    text-align: center;

    .tarjetasJoyas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin: 50px;

        .tarjeta {
            width: $anchoTarj;
            height: $altoTarj;
            transition: border .1s;

            .tarjeta p {
                text-align: center;
            }
            
            .tarjetaImg {
                width: 200px;
            }

            &:hover {
                border: #000 3px solid;
                border-radius: 15%;
            }
        }
    }
}



.main-productos {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 15px;

    .lista-productos {
        margin: 30px;
        ul {
            list-style: none;

            a {
                text-decoration: none ;
                font-weight: 700;
                margin: 15px;
            }
            .lista__item {
                font-weight: 500;
                margin: 7px 20px;
            }
        }
    }

    .expositor-productos {
        display: flex;
        flex-wrap: wrap;

        .tarjeta {
            @include flex(column, center, center);
            width: 300px;
            height: 300px;
            transition: border .1s;

            .tarjeta p {
                text-align: center;
            }
            
            .tarjetaImg {
                width: 200px;
            }

            &:hover {
                border: #000 3px solid;
                border-radius: 15%;
            }
        }
    }
}





.main-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .contacto__ul {
        list-style: none;

        li { 
            margin: 20px;
        }

        a {
            font-family: FiraSans;
            text-decoration: none;
            font-size: 40px;
            margin: 50px;
        }
        
        i {
            font-size: 70px;
            
        }

        p {
            display: inline-block;
            margin-left: 10px;
            position: relative;
            bottom: 10px;
        }   
    }

    .aFacebook {
        transition: .4s;

        .fa-square-facebook {
            transition: .4s;

            &:hover {
                color: rgba(47, 6, 250, 0.544);
            }
        }
    
        &:hover {
            color: rgba(47, 6, 250, 0.544);
        }
    }

    .aTwitter {
        transition: .4s;

        .fa-square-twitter {
            transition: .4s;
            
            &:hover {
                color: rgba(6, 132, 250, 0.544);
            }
        }

        &:hover {
            color: rgba(6, 132, 250, 0.544);
        }
    }
    
    .aInstagram {
        transition: .4s;

        .fa-square-instagram {
            transition: .4s;

            &:hover {
                color: rgba(205, 19, 87, 0.544);
            }
        }

        &:hover {
            color: rgba(205, 19, 87, 0.544);
        }
    }

    .contacto-form {
        form {
            display: flex;
            flex-direction: row;
        }

        h2 {
            text-align: center;
        }

        .enviar {
            margin-top: 5px;
        
        }
    }
    
    .h2-responsive {
        display: none;
    }
}



@each $redSocial, $colorRedes in $redes {
    .fa-#{$redSocial} {
        color: $colorRedes;
    }
}



.main-pf {
    margin: 20px 0 20px 0;
    padding-left: 20%;
    width: 80%;
}