.productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;

    .producto {
        overflow: hidden;
        transition: .4s;

        &:hover {
            transform: scale(1.05);
        }
    }
    .producto-img {
        width: 300px;
        height: 300px;
    }
}