@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Regular.ttf);
}

@font-face {
    font-family: FiraSemiBold;
    src: url(../fonts/FiraSans-SemiBold.ttf);
}

* {
    font-family: FiraSans;
}

header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 7px;
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-family: FiraSemiBold;
}

.link:hover {
    color: #000;
    transition: .4s;
}

.menu__list {
    list-style: none;
    display: flex;
}

.menu__item {
    margin: 15px;
}

.buscador{
    height: 25px;
}

.productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.producto {
    overflow: hidden;
}

.producto-img:hover {
    transform: scale(1.2);
    transition: .4s;
}

.producto-img {
    width: 300px;
    height: 300px;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner__img {
    width: 80%;
}

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes {
    height: 80px;
}

.redes__logo {
    margin: 20px;
    font-size: 30px;
    color: #fff;
}

.redes__titulo {
    display: inline-block;
    margin: 5px;
    color: #fff;
}

.redes__a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
}

.redes__a:hover {
    background-color: rgba(144, 144, 144, 0.8);
    transition: .4s;
}

.contacto__a {
    color: #fff;
    padding: 15px 15px 0px 15px;
}

.contacto__titulo {
    text-align: center;
    color: #fff;
}

.main-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tarjetasJoyas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.tarjeta p {
    text-align: center;
}

.tarjeta:hover {
    border: #000 3px solid;
    border-radius: 15%;
    transition: border .1s;
}

.tarjetaImg {
    width: 200px;
}

.banner-joyas {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/joyaspatron.jpg);
}

.main-productos {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 15px;
}

.banner-joyas h1 {
    text-shadow: 0px 0px 4px rgb(93, 92, 92);
}

.lista-productos {
    margin: 30px;
}

.lista-productos ul {
    list-style: none;
}

.lista__titulo a {
    color: #000;
    text-decoration: none ;
    font-weight: 900;
    margin: 15px;
}

.lista__item {
    font-weight: 500;
    margin: 7px 20px;
}

.expositor-productos {
    display: flex;
    flex-wrap: wrap;
}

.main-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.contacto__ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.contacto__ul li { 
    margin: 20px;
}

.contacto__ul a {
    font-family: FiraSans;
    text-decoration: none;
    font-size: 40px;
    margin: 50px;
}

.contacto__ul i {
    font-size: 70px;
    
}

.contacto__ul p {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}

.fa-square-facebook {
    color: rgb(47, 6, 250);
}

.aFacebook {
    color: rgb(47, 6, 250);
}

.fa-square-facebook:hover {
    color: rgba(47, 6, 250, 0.544);
    transition: .4s;
}

.aFacebook:hover {
    color: rgba(47, 6, 250, 0.544);
    transition: .4s;
}

.fa-square-twitter {
    color: rgb(6, 132, 250);
}

.aTwitter {
    color: rgb(6, 132, 250);
}

.fa-square-twitter:hover {
    color: rgba(6, 132, 250, 0.544);
    transition: .4s;
}

.aTwitter:hover {
    color: rgba(6, 132, 250, 0.544);
    transition: .4s;
}

.fa-square-instagram {
    color: rgb(205, 19, 87);
}

.aInstagram {
    color: rgb(205, 19, 87);
}

.fa-square-instagram:hover {
    color: rgba(205, 19, 87, 0.544);
    transition: .4s;
}

.aInstagram:hover {
    color: rgba(205, 19, 87, 0.544);
    transition: .4s;
}

.contacto-form form {
    display: flex;
    flex-direction: row;
}

.contacto-form h2 {
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer input {
    width: 200px;
    height: 30px;
    margin: 27px 7px;
}

textarea {
    margin-top: 27px;
    width: 250px;
    height: 115px;
}

.h2-responsive {
    display: none;
}

.enviar {
    margin-top: 5px;

}

.main-pf {
    margin: 20px 0 20px 0;
    padding-left: 20%;
    width: 80%;
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
        height: 50px;
    }

    .menu {
        justify-content: center;
    }

    .buscador {
        display: none;
    }

    .redes__titulo {
        display: none;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contacto__titulo {
        display: none;
    }

    .lista-productos {
        display: none;
    }

    .main-productos {
        grid-template-columns: 1fr;
    }

    .expositor-productos {
        width: 100%;
        justify-content: center;
    }

    .main-contacto {
        display: flex;
        justify-content: center;
    }

    .contacto-redes {
        display: none;
    }

    .contacto-form form {
        flex-direction: column;
        justify-content: center;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inputContainer input {
        width: 200px;
        height: 30px;
        margin: 7px 7px;
    }

    .contacto-form__h2 {
        display: none;
    }

    .h2-responsive {
        display: block;
    }
    
    textarea {
        margin: 7px;
        width: 250px;
        height: 115px;
    }
}